"name": "<%= _.slugify(appName) %>"
"version": "0.0.0"
"description": "<%= appDescr %>"
"licence": "MIT"
"repository": "<%= ghUser %>/<%= _.slugify(appName) %>"
"dependencies": {}
"devDependencies": {}
"peerDependencies": {}
