doctype html
html(lang='en')
    head
        link(rel="stylesheet", type="text/css", href="css/app.css")
    body
    	h1 'Allo, 'Allo!
        script(src='js/vendor.js')
        script(src='js/partials.js')
        script(src='js/app.js')