doctype html
html(lang='en', ng-app='tryethereum')
    head
        link(rel="stylesheet", type="text/css", href="css/app.css")
    body
        ng-view
        script(src='js/vendor.js')
        script(src='js/partials.js')
        script(src='js/app.js')